/_src
/_docs
/test
/node_modules
Gruntfile.*
*.sublime*
config.json
config*.json
deploy.json
.editorconfig
.travis.yml
*.env*
tslint.json
tsconfig.json
coverage/
.nyc*
*.ts
!dist/*.d.ts
dockertests/
*.yml
